---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLineElement.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv" header="Profile">
  <div class="mb-10 text-justify">
    <p>
    PHP developer with specialisation in Laravel. I'd like to write backend services (RESTful API, micro services without public access) and don't like to make frontend (but can work with VueJS, JQuery and bootstrap). 
    I very like to work with distributed services and message brokers, such as Rabbit MQ
    </p>
    <p>
    Part-time DevOps with skills in docker, Kubernetes, GCP, Gitlab CI.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Moscow State University of Printing Arts (MGUP)"
      subtitle="2008 to 2014, Master's degree, Engineering"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="101XP - Backend Developer"
      subtitle="From Oct 2020 to Present"
    >
      Text
    </TimeLineElement>
    <TimeLineElement
      title="Freelance - System Analyst, Backend Developer"
      subtitle="From Aug 2019 to Jun 2020"
    >
    Text
    </TimeLineElement>
    <TimeLineElement
      title="PIK Group - System Analyst"
      subtitle="From Jan 2018 to Jul 2019"
    >
    Text
    </TimeLineElement>
    <TimeLineElement
      title="Old life"
      subtitle="From Jan 1989 to Dec 2017"
    >
    Interest but irrelevant :)
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Russian</li>
    <li>English</li>
    <li>PHP</li>
    <li>Go</li>
    <li>Laravel</li>
    <li>Symfony</li>
    <li>Sentry</li>
    <li>Docker</li>
    <li>Git</li>
    <li>Gitlab CI</li>
    <li>MySQL</li>
    <li>Postgres SQL</li>
    <li>Redis</li>
    <li>RabbitMQ</li>
    <li>Kubernetes</li>
    <li>Helm</li>
    <li>Nginx</li>
    <li>Vue</li>
    <li>Jira</li>
    <li>Redmine</li>
  </ul>
</BaseLayout>