---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">I'm Maksim</div>
    <div class="text-3xl py-3 font-bold">Backend developer</div>
    <div class="py-2">
      <text class="text-lg">
        Some text about me.</text
      >
    </div>
  </div>
</BaseLayout>