---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()}
  </div>
  <div class="inline opacity-75">
    Made with ❤️, <a href="https://astro.build" target="_blank" class="font-bold">Astro</a> and <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a>
  </div>
</footer>