---
import { Image } from 'astro:assets'
import profileImage from '../../assets/profile/profile.jpg'
---
<div class="w-fit mx-auto mt-5 mb-6">
    <a href="/">
      <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
        <div class="w-[8.5rem]">
          <Image class="mask mask-circle" format="webp" width={250} height={250} src={profileImage} alt="Profile image" />
        </div>
      </div>
    </a>
  </div>